<!DOCTYPE html>
<html
        th:replace="~{layout/admin_view_layout :: layout(~{::title}, ~{::section}, ${user})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>게시판 관리</title>
</head>
<body>
<section>
    <div class="board_title">
        <h4>게시판 관리</h4>
    </div>
    <div class="board_button">
        <a class="btn btn-primary btn-floating m-1" th:href="@{|/admin/board/create|}" role="button">게시판 생성 </a>
    </div>
    <div class="board_list">
        <table class="table">
            <thead>
            <tr>
                <th class="col-md-1 text-center">번호</th>
                <th class="col-md-3">게시판 이름</th>
                <th class="col-md-3 text-center">설명</th>
                <th class="col-md-3 text-center">조작</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td class="text-center"><span th:text="${board.id}"></span></td>
                <td><span class="board_name" th:text="${board.name}"></span></td>
                <td class="text-center"><span class="board_description" th:text="${board.description}"></span></td>
                <td class="text-center">
                    <div class="board_control">
                        <a class="btn btn-primary btn-floating btn-sm m-1" th:href="@{|/board/${board.id}|}"
                           role="button">보기</a>
                        <a class="btn btn-danger btn-floating btn-sm m-1" th:href="@{|/admin/board/${board.id}/delete|}"
                           role="button">삭제</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>