<!DOCTYPE html>
<html
        th:replace="~{layout/user_view_layout :: layout(~{::title}, ~{::section}, ${user})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${board_name}"></title>
</head>
<body>
<section>
    <div class="board_title">
        <h4 th:text="${board_name}"></h4>
    </div>
    <div class="board_view">

        <div class="title"><span class="align-middle" th:text="${article.title}"></span>
            <span class="comments_quantity align-middle" th:if="${comments_quantity > 0}"
                  th:text="${comments_quantity}"></span></div>
        <div class="article_metadata d-flex">
            <div class="author me-auto"><span th:text="${article.authorNickname}"></span></div>
            <div class="create_time">작성 : <span
                    th:text="${#temporals.format(article.createdDate, 'MM/dd HH:mm:ss')}"> </span></div>
            <div class="modify_time">‣ 수정 : <span
                    th:text="${#temporals.format(article.modifiedDate, 'MM/dd HH:mm:ss')}"></span></div>
        </div>

        <div class="article_content">
            [(${article.content})]
        </div>

    </div>
    <div class="comment_view">
        <div class="comments" th:each="comment: ${comments}">
            <div class="comment">
                <div class="metadata d-flex">
                    <div class="author me-auto"><span th:text="${comment.authorNickname}"></span></div>
                    <div class="create_time">작성 : <span
                            th:text="${#temporals.format(comment.createdDate, 'MM/dd HH:mm:ss')}"></span></div>
                    <div class="modify_time">‣ 수정 : <span
                            th:text="${#temporals.format(comment.modifiedDate, 'MM/dd HH:mm:ss')}"></span></div>
                    <div clas="delete_function" th:if="${user != null}">
                        <span th:if="${user.getId() == comment.getAuthorId()}">|
                            <a th:href="@{|/comment/${comment.getId()}/delete|}">삭제</a></span>
                    </div>
                </div>
                <div class="content">
                    [(${comment.content})]
                </div>
            </div>
        </div>
    </div>
    <div th:if="${user != null}" class="comment_write">
        <div class="comment_form">
            <form id="comment_write" th:action th:object="${comment}" method="post">
                <div class="input-group">
                <textarea type="text" id="commentContent" th:field="*{content}"
                          th:errorclass="field-error" name="comment" class="form-control"
                          placeholder="댓글 내용을 입력하세요"
                          aria-describedby="button-addon2"></textarea>
                    <button class="btn btn-primary" id="button-addon2" type="submit">댓글 저장</button>

                    <div class="field-error" th:errors="*{content}">내용 오류</div>
                </div>
            </form>
        </div>
    </div>
    <div class="board_button">
        <a class="btn btn-primary btn-floating m-1"
           th:href="@{|/board/${board_id}/write|}" role="button">
            글쓰기
        </a>
        <span th:if="${user != null}">
        <a th:if="${user.getId() == article.getAuthorId()}" class="btn btn-primary btn-floating m-1"
           th:href="@{|/article/${article_id}/modify|}" role="button">
            수정하기
        </a>
        <a th:if="${user.getId() == article.getAuthorId()}" class="btn btn-primary btn-floating m-1"
           th:href="@{|/article/${article_id}/delete|}" role="button">
            삭제하기
        </a>
        </span>
        <a class="btn btn-primary btn-floating m-1"
           th:href="@{|/board/${board_id}|}" role="button">
            목록보기
        </a>
    </div>
</section>
</body>
</html>