body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

textarea#articleContent {
    height: 300px;
}