body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #eee;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

textarea#articleContent {
    height: 300px;
}

.board_content {
    max-width: 800px;

}

/* ----------------- */

.board_list {
    background-color: white;
    padding: 10px 15px;
}

.board_list tr span.comments_quantity {
    color: #F7683A;
    font-size: 0.95rem;
}

.board_list tr span.author {
    font-size: 0.85em;
}

.board_list tr span.view_count {
    font-size: 0.8rem;
}

.board_list tr span.create_date {
    font-size: 0.8em;
}


/* ----------------- */


.board_view {
    background-color: white;
    padding: 10px 15px;
}

.board_view .title {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.board_view .title .comments_quantity {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #FAFAFA;
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 0.95rem;
    color: #F7683A;
}

.board_view .article_metadata {
    background: #FAFAFA;
    padding: 5px 10px;
    border: 1px solid #F1F1F1;
    border-top: 3px solid #999;
    border-bottom: none;
    font-size: 0.9rem;
}

.board_view .article_metadata .view_count,
.board_view .article_metadata .create_date,
.board_view .article_metadata .modify_date {
    margin-left: 10px;
}


.board_view .article_content {
    border: 1px solid #F1F1F1;
    padding: 15px;
}

/* ----------------- */

.comment_view {
    background-color: white;
    padding: 10px 15px;
}

.comment_view .comment {
    margin-bottom: 10px;
}

.comment_view .metadata {
    background: #F1F1F1;
    padding: 5px 10px;
    font-size: 0.9rem;
}

.comment_view .metadata .create_date,
.comment_view .metadata .modify_date {
    margin-left: 10px;
}

.comment_view .metadata a {
    color: #F7683A;
}

.comment .content {
    padding: 5px 10px;
}

.comment_write {
    background-color: white;
    padding: 10px 15px;
}

.comment_write .comment_form {
    padding: 15px;
    background-color: #F1F1F1;
}

/* ----------------- */

.board_button {
    background-color: white;
    padding: 10px 15px;
}